name: Release

on:
  push:
    branches:
      - 'main'

jobs:

  build:
    name: Test and Build and Release new candidate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          # The Node.js version to configure
          node-version: 14
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint:all
      - name: Test
        run: npm test
      - name: Build
        run: npm run build
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
